.mt0 { margin-top: 0px !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.ml0 { margin-left: 0px !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.mr0 { margin-right: 0px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.pt0 { padding-top: 0px !important; }
.pt5 { padding-top: 5px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pb0 { padding-bottom: 0px !important; }
.pb5 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pl0 { padding-left: 0px !important; }
.pl5 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pr0 { padding-right: 0px !important; }
.pr5 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.p0 { padding: 0px !important; }
.p1 { padding: 1px !important; }
.p2 { padding: 2px !important; }
.p3 { padding: 3px !important; }
.p4 { padding: 4px !important; }
.p5 { padding: 5px !important; }
.p6 { padding: 6px !important; }
.p7 { padding: 7px !important; }
.p8 { padding: 8px !important; }
.p9 { padding: 9px !important; }
.p10 { padding: 10px !important; }
.p11 { padding: 11px !important; }
.p12 { padding: 12px !important; }
.p13 { padding: 13px !important; }
.p14 { padding: 14px !important; }
.p15 { padding: 15px !important; }
.p16 { padding: 16px !important; }
.p17 { padding: 17px !important; }
.p18 { padding: 18px !important; }
.p19 { padding: 19px !important; }
.p20 { padding: 20px !important; }
.m0 { margin: 0px !important; }
.m1 { margin: 1px !important; }
.m2 { margin: 2px !important; }
.m3 { margin: 3px !important; }
.m4 { margin: 4px !important; }
.m5 { margin: 5px !important; }
.m6 { margin: 6px !important; }
.m7 { margin: 7px !important; }
.m8 { margin: 8px !important; }
.m9 { margin: 9px !important; }
.m10 { margin: 10px !important; }
.m11 { margin: 11px !important; }
.m12 { margin: 12px !important; }
.m13 { margin: 13px !important; }
.m14 { margin: 14px !important; }
.m15 { margin: 15px !important; }
.m16 { margin: 16px !important; }
.m17 { margin: 17px !important; }
.m18 { margin: 18px !important; }
.m19 { margin: 19px !important; }
.m20 { margin: 20px !important; }
.t0 { top: 0px !important; }
.t1 { top: 1px !important; }
.t2 { top: 2px !important; }
.t3 { top: 3px !important; }
.t4 { top: 4px !important; }
.t5 { top: 5px !important; }
.t6 { top: 6px !important; }
.t7 { top: 7px !important; }
.t8 { top: 8px !important; }
.t9 { top: 9px !important; }
.t10 { top: 10px !important; }
.t11 { top: 11px !important; }
.t12 { top: 12px !important; }
.t13 { top: 13px !important; }
.t14 { top: 14px !important; }
.t15 { top: 15px !important; }
.t16 { top: 16px !important; }
.t17 { top: 17px !important; }
.t18 { top: 18px !important; }
.t19 { top: 19px !important; }
.t20 { top: 20px !important; }
.r0 { right: 0px !important; }
.r1 { right: 1px !important; }
.r2 { right: 2px !important; }
.r3 { right: 3px !important; }
.r4 { right: 4px !important; }
.r5 { right: 5px !important; }
.r6 { right: 6px !important; }
.r7 { right: 7px !important; }
.r8 { right: 8px !important; }
.r9 { right: 9px !important; }
.r10 { right: 10px !important; }
.r11 { right: 11px !important; }
.r12 { right: 12px !important; }
.r13 { right: 13px !important; }
.r14 { right: 14px !important; }
.r15 { right: 15px !important; }
.r16 { right: 16px !important; }
.r17 { right: 17px !important; }
.r18 { right: 18px !important; }
.r19 { right: 19px !important; }
.r20 { right: 20px !important; }
.b0 { bottom: 0px !important; }
.b1 { bottom: 1px !important; }
.b2 { bottom: 2px !important; }
.b3 { bottom: 3px !important; }
.b4 { bottom: 4px !important; }
.b5 { bottom: 5px !important; }
.b6 { bottom: 6px !important; }
.b7 { bottom: 7px !important; }
.b8 { bottom: 8px !important; }
.b9 { bottom: 9px !important; }
.b10 { bottom: 10px !important; }
.b11 { bottom: 11px !important; }
.b12 { bottom: 12px !important; }
.b13 { bottom: 13px !important; }
.b14 { bottom: 14px !important; }
.b15 { bottom: 15px !important; }
.b16 { bottom: 16px !important; }
.b17 { bottom: 17px !important; }
.b18 { bottom: 18px !important; }
.b19 { bottom: 19px !important; }
.b20 { bottom: 20px !important; }
.l0 { left: 0px !important; }
.l1 { left: 1px !important; }
.l2 { left: 2px !important; }
.l3 { left: 3px !important; }
.l4 { left: 4px !important; }
.l5 { left: 5px !important; }
.l6 { left: 6px !important; }
.l7 { left: 7px !important; }
.l8 { left: 8px !important; }
.l9 { left: 9px !important; }
.l10 { left: 10px !important; }
.l11 { left: 11px !important; }
.l12 { left: 12px !important; }
.l13 { left: 13px !important; }
.l14 { left: 14px !important; }
.l15 { left: 15px !important; }
.l16 { left: 16px !important; }
.l17 { left: 17px !important; }
.l18 { left: 18px !important; }
.l19 { left: 19px !important; }
.l20 { left: 20px !important; }
.z0 { z-index: 0 !important; }
.z1 { z-index: 1 !important; }
.z2 { z-index: 2 !important; }
.z3 { z-index: 3 !important; }
.z4 { z-index: 4 !important; }
.z5 { z-index: 5 !important; }
.z6 { z-index: 6 !important; }
.z7 { z-index: 7 !important; }
.z8 { z-index: 8 !important; }
.z9 { z-index: 9 !important; }
.z10 { z-index: 10 !important; }
.bd0 { border: 0px solid !important; }
.bd1 { border: 1px solid !important; }
.bd2 { border: 2px solid !important; }
.bd3 { border: 3px solid !important; }
.bd4 { border: 4px solid !important; }
.bd5 { border: 5px solid !important; }
.bdr0 { border-radius: 0px !important; }
.bdr1 { border-radius: 1px !important; }
.bdr2 { border-radius: 2px !important; }
.bdr3 { border-radius: 3px !important; }
.bdr4 { border-radius: 4px !important; }
.bdr5 { border-radius: 5px !important; }
.bdr6 { border-radius: 6px !important; }
.bdr7 { border-radius: 7px !important; }
.bdr8 { border-radius: 8px !important; }
.bdr9 { border-radius: 9px !important; }
.bdr10 { border-radius: 10px !important; }
.ma { margin: auto !important; }
.pa { position: absolute !important; }
.pr { position: relative !important; }
.db { display: block !important; }
.dib { display: inline-block !important; }
.dt { display: table !important; }
.dtr { display: table-row !important; }
.dtc { display: table-cell !important; }
.di { display: inline !important; }
.df { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; }
.dn { display: none !important; }
.tdn { text-decoration: none !important; }
.ttu { text-transform: uppercase !important; }
.o1 { opacity: 1 !important; }
.o0 { opacity: 0 !important; }
.cfff { color: #FFF !important; }
.c000 { color: #000 !important; }
.ceee { color: #EEE !important; }
.cccc { color: #CCC !important; }
.cddd { color: #DDD !important; }
.bgccc { background: #CCC !important; }
.bgeee { background: #EEE !important; }
.bgddd { background: #DDD !important; }
.bgfff { background: #FFF !important; }
.cp { cursor: pointer !important; }
.tac { text-align: center !important; }
.tal { text-align: left !important; }
.tar { text-align: right !important; }
.ovh { overflow: hidden !important; }
.fll { float: left !important; }
.flr { float: right !important; }
.fln { float: none !important; }
.ot { outline: 1px solid red !important; }
.w20p { width: 20% !important; }
.w25p { width: 25% !important; }
.w33p { width: 33.33333% !important; }
.w50p { width: 50% !important; }
.w100p { width: 100% !important; }
.ha { height: auto !important; }
.fwb { font-weight: bold !important; }
.fwn { font-weight: normal !important; }
.vam { vertical-align: middle !important; }
.sb { -webkit-box-pack: justify !important; -ms-flex-pack: justify !important; justify-content: space-between !important; }
.sa { -ms-flex-pack: distribute !important; justify-content: space-around !important; }
.ai { -webkit-box-align: center !important; -ms-flex-align: center !important; align-items: center !important; }
.all { top: 0 !important; bottom: 0 !important; right: 0 !important; left: 0 !important; margin: auto !important; }
.bdr50 { border-radius: 50% !important; }
.w100 { width: 100px !important; }
.w150 { width: 150px !important; }
.w200 { width: 200px !important; }
.bxz { -webkit-box-sizing: border-box; box-sizing: border-box; }
@media (max-width: 767px) {
	.w100, .w150, .w200 { width: 100% !important; display: block !important; margin-bottom: 20px !important; } 
}