@for $i from 0 through 10 {
	.mt#{$i*5} {margin-top: 5 * $i +px !important;}
}
@for $i from 0 through 10 {
	.mb#{$i*5} {margin-bottom: 5 * $i +px !important;}
}
@for $i from 0 through 10 {
	.ml#{$i*5} {margin-left: 5 * $i +px !important;}
}
@for $i from 0 through 10 {
	.mr#{$i*5} {margin-right: 5 * $i +px !important;}
}

@for $i from 0 through 10 {
	.pt#{$i*5} {padding-top: 5 * $i +px !important;}
}
@for $i from 0 through 10 {
	.pb#{$i*5} {padding-bottom: 5 * $i +px !important;}
}
@for $i from 0 through 10 {
	.pl#{$i*5} {padding-left: 5 * $i +px !important;}
}
@for $i from 0 through 10 {
	.pr#{$i*5} {padding-right: 5 * $i +px !important;}
}

@for $i from 0 through 20 {
	.p#{$i} {padding: $i +px !important;}
}
@for $i from 0 through 20 {
	.m#{$i} {margin: $i +px !important;}
}

@for $i from 0 through 20 {
	.t#{$i} {top: $i +px !important;}
}
@for $i from 0 through 20 {
	.r#{$i} {right: $i +px !important;}
}
@for $i from 0 through 20 {
	.b#{$i} {bottom: $i +px !important;}
}
@for $i from 0 through 20 {
	.l#{$i} {left: $i +px !important;}
}

@for $i from 0 through 10 {
	.z#{$i} {z-index: $i !important;}
}

@for $i from 0 through 5 {
	.bd#{$i} {border: $i +px solid !important;}
}

@for $i from 0 through 10 {
	.bdr#{$i} {border-radius: $i +px !important;}
}

.ma {
	margin: auto !important;
}
.pa {
	position: absolute !important;
}
.pr {
	position: relative !important;
}
.db {
	display: block !important;
}
.dib {
	display: inline-block !important;
}
.dt {
	display: table !important;
}
.dtr {
	display: table-row !important;
}
.dtc {
	display: table-cell !important;
}
.di {
	display: inline !important;
}
.df {
	display: flex !important;
}
.dn {
	display: none !important;
}
.tdn {
	text-decoration: none !important;
}
.ttu {
	text-transform: uppercase !important;
}
.o1 {
	opacity: 1 !important;
}
.o0 {
	opacity: 0 !important;
}
.cfff {
	color: #FFF !important;
}
.c000 {
	color: #000 !important;
}
.ceee {
	color: #EEE !important;
}
.cccc {
	color: #CCC !important;
}
.cddd {
	color: #DDD !important;
}
.bgccc {
	background: #CCC !important;
}
.bgeee {
	background: #EEE !important;
}
.bgddd {
	background: #DDD !important;
}
.bgfff {
	background: #FFF !important;
}
.cp {
	cursor: pointer !important;
}
.tac {
	text-align: center !important;
}
.tal {
	text-align: left !important;
}
.tar {
	text-align: right !important;
}
.ovh {
	overflow: hidden !important;
}
.fll {
	float: left !important;	
}
.flr {
	float: right !important;
}
.fln { 
	float: none !important;
}
.ot {
	outline: 1px solid red !important;
}
.w20p {
	width: 20% !important;
}
.w25p {
	width: 25% !important;
}
.w33p {
	width: 33.33333% !important;
}
.w50p {
	width: 50% !important;
}
.w100p {
	width: 100% !important;
}
.ha {
	height: auto !important;
}
.fwb {
	font-weight: bold !important;
}
.fwn {
	font-weight: normal !important;
}
.vam {
	vertical-align: middle !important;
}
.sb {
	justify-content: space-between !important;
}
.sa {
	justify-content: space-around !important;
}
.ai {
	align-items: center !important;
}
.all {
	top: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	left: 0 !important;
	margin: auto !important;
}
.bdr50 {
	border-radius: 50% !important;
}
.w100 {
	width:100px !important;
}
.w150 {
	width:150px !important;
}
.w200 {
	width:200px !important;
}
.bxz {
	box-sizing: border-box;
}
@media(max-width:767px) {
	.w100, .w150, .w200 {
		width: 100% !important;
		display: block !important;
		margin-bottom: 20px !important;
	}
}